$primary-color: var(--sb-item-primary-color) !default;
$base-bg: #2a2a2e !default;

$item-color: #fff !default;

$item-active-color: null !default;
$item-active-bg: null !default;

$item-open-color: #fff !default;
$item-open-bg: var(--sb-item-primary-color-05) !default;

$item-hover-color: null !default;
$item-hover-bg: var(--sb-item-primary-color-02) !default;

$icon-color: null !default;
$icon-bg: null !default;

$icon-active-color: null !default;
$icon-active-bg: null !default;

$icon-open-color: $item-open-color !default;
$icon-open-bg: null !default;

$mobile-item-color: #fff !default;
$mobile-item-bg: $base-bg !default;
$mobile-icon-color: $mobile-item-color !default;
$mobile-icon-bg: $mobile-item-bg !default;

$dropdown-bg: var(--sb-item-primary-color-02) !default;
$dropdown-bg-mobile: var(--sb-item-dropdown-bg-colapsed-dark) !default;
$dropdown-color: null !default;
$dropdown-color-mobile: #fff !default;

$item-font-size: 16px !default;
$item-line-height: 30px !default;
$item-padding: 10px !default;
$icon-height: 30px !default;
$icon-width: 30px !default;
